@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

.app {
  background-color: #fff;
  color: #232536;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border-radius: 5px;
}
.ant-layout-sider {
  height: 100vh;
}

.ant-layout-content {
  margin: 0 !important;
  height: calc(100vh - 64px);
  overflow: scroll;
}

.btn-dark {
  padding: 10px 18px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.5s;
  font-weight: 500;
  line-height: 24px;
  padding-right: 16px;
}

body.dark {
  background-color: #232536 !important;
  color: #fff !important;
}

.header__dark-mode {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 6px 8px;
  border: 1px solid #232536;
  border-radius: 5px;
}

.header__dark-mode span {
  font-size: 16px;
  transition: 0.5s;
  font-weight: 500;
  line-height: 16px;
}

:root {
  /* Colors */
  --brand-color: hsl(46, 100%, 50%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h2,
p {
  margin: 0;
}

h2 {
  font-size: 2.25rem;
  font-family: var(--font-title);
  color: var(--white);
  line-height: 1.1;
}

p {
  font-family: var(--font-text);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--white);
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* CARD COMPONENT */

.cardResponsive {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.card {
  display: grid;
  place-items: center;
  width: 80vw;
  max-width: 21.875rem;
  height: 28.125rem;
  overflow: hidden;
  margin-top: 30px;
  border-radius: 0.625rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.card > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__background {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.card__content {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 55%;
  padding: 12% 1.25rem 1.875rem;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
  );
}

.card__content--container {
  --flow-space: 1.25rem;
}

.card__title {
  position: relative;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
}

.card__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
}
.card__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__button {
  background-color: transparent;
}

.card__button:focus {
  outline: 2px solid transparent;
  outline-offset: -5px;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .card__content {
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }

  .card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  .card__background {
    transition: transform 500ms ease-in;
  }

  .card__content--container > :not(.card__title),
  .card__button {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .card:hover,
  .card:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }

  .card:hover .card__content,
  .card:focus-within .card__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .card:focus-within .card__content {
    transition-duration: 0ms;
  }

  .card:hover .card__background,
  .card:focus-within .card__background {
    transform: scale(1.3);
  }

  .card:hover .card__content--container > :not(.card__title),
  .card:hover .card__button,
  .card:focus-within .card__content--container > :not(.card__title),
  .card:focus-within .card__button {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .card:hover .card__title::after,
  .card:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}

/* peyerscard */
.cards {
  background: hsl(240, 46%, 20%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  color: hsl(240, 30%, 60%);
  display: flex;
  width: 530px;
}

.cards-aside {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 0;
  width: 80px;
}

.cards-overall {
  margin-bottom: 20px;
}

.cards-rating {
  color: hsl(36, 100%, 50%);
  display: block;
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
}

.cards-team > img {
  margin: 0 10px;
  margin-bottom: 10px;
  max-height: 50px;
  max-width: 80%;
  width: auto;
}

.cards-info {
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  margin-top: auto;
}

.cards-main {
  flex: 1;
}

.cards-header {
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/148/777/non_2x/vector-white-tiger-stripes.png");
  background-color: hsl(240, 60%, 15%);
  background-blend-mode: screen;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}

.cards-image {
  width: 100%;
  margin-left: 20px;
  height: 300px;
  object-fit: cover;
}

.cards-name {
  color: hsl(36, 100%, 50%);
  border-top: 1px solid;
  border-bottom: 1px solid;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 50px;
  margin: 0;
  text-align: center;
}

.cards-attribute {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
}

.cards-attributes {
  background: hsl(240, 60%, 15%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 0;
}

.cards-attribute__value {
  color: #ffffff;
  flex-basis: 40%;
  font-size: 35px;
  font-weight: bold;
  margin-right: 6px;
  text-align: right;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
ul li {
  list-style: none;
}
/* .footbell {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} */

@media screen and (min-width: 891px) {
  .footbell {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
}
@media screen and (max-width: 491px) {
  .footbell {
    display: grid;
    grid-template-columns: 1fr;
  }
  .cards {
    width: 341px;
    margin-top: 50px;
  }
  .cards-image {
    width: 90%;
  }
  .cards-header {
    display: grid;
  }
  .cards-aside {
    width: 60px;
  }
  .footbell {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.anticon {
  color: red;
  font-size: large;
  font-weight: bold;
}

.footers {
  width: 100%;
  background-color: #232536;
}
footer {
  height: 164px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .row {
  width: 100%;
  background-color: transparent;
}
footer .row .title a {
  text-decoration: none;
  color: white;
}

footer .row .title {
  font-weight: bold;
  color: white;
}
@media screen and (max-width: 670px) {
  footer .row .title {
    width: 100%;
  }
}
